#wrapper #header .headTop {
  background: #eaeaea;
  height: 30px;
}
#wrapper #header .headTop .headTopMain {
  width: 1200px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
#wrapper #header .headTop .headTopMain .left {
  float: left;
}
#wrapper #header .headTop .headTopMain .left h5 {
  float: left;
}
#wrapper #header .headTop .headTopMain .left p {
  float: left;
}
#wrapper #header .headTop .headTopMain .left p a:first-child {
  margin-left: 5px;
  border-right: 1px solid #b3aeae;
  padding-right: 5px;
}
#wrapper #header .headTop .headTopMain .right {
  float: right;
}
#wrapper #header .headTop .headTopMain .right nav {
  font-size: 0px;
}
#wrapper #header .headTop .headTopMain .right nav a {
  font-size: 12px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #b3aeae;
}
#wrapper #header .headTop .headTopMain .right nav a:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border-right: none;
}
#wrapper #header .headBottom .headBottomMain {
  width: 1200px;
  margin: 0 auto;
}
#wrapper #header .headBottom .headBottomMain::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper #header .headBottom .headBottomMain .logo {
  float: left;
}
#wrapper #header .headBottom .headBottomMain .logo img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#wrapper #header .headBottom .headBottomMain .search {
  float: right;
  margin-top: 35px;
}
#wrapper #header .headBottom .headBottomMain .search input {
  float: left;
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 3px solid #ea4a36;
  color: blue;
}
#wrapper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  background: #ea4a36;
  color: #fff;
  border: none;
}
#wrapper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#wrapper #navWrap {
  border-bottom: 2px solid #e1251b;
}
#wrapper #navWrap .navWrapMain {
  width: 1200px;
  margin: 0 auto;
}
#wrapper #navWrap .navWrapMain::after {
  clear: both;
  display: block;
  content: '';
}
#wrapper #navWrap .navWrapMain a {
  margin: 0 22px;
  font-size: 16px;
  color: #333;
  float: left;
  line-height: 50px;
}
#wrapper #navWrap .navWrapMain a:first-child {
  width: 210px;
  height: 50px;
  background: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: center;
  line-height: 50px;
}
#wrapper #content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#wrapper #content .contentMain #navPath {
  padding: 9px 15px 9px 0;
  font-size: 0px;
}
#wrapper #content .contentMain #navPath a {
  font-size: 12px;
}
#wrapper #content .contentMain #navPath i {
  padding: 0 5px;
  font-size: 12px;
}
